body {
    background-color: white;
    margin: 0;
}

div {
    display: flex;
    justify-content: space-around;
    background-color: #8301D3;
}

header {
    display: flex;
    justify-content: center;
    font-size: 80px;
    background-color: #FFDC2F;
}

li {
    display: inline;
    font-size: 3vw;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

.form {
    padding: 100px;
    background-color: white;
    text-align: left;
    margin: auto;
    display: table;
    display: flex;
    justify-content: center;
}

label {
    float:left;
    width:300px;
    margin-bottom:5px;
}

input {
    float:left;
    width:300px;
    margin-bottom:20px;
}